@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0px;
}
caption,th {
    text-align: left;

}
* {
	font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

textarea {
    resize: vertical;
}


/* Custom CSS
 * --------------------------------------- */
html,body {
	position: relative;
	z-index: 0;
	background-color: #4fa6f2;
}

body{

	/*antialiasing*/
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	

	font-family: 'Abel', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
	padding-bottom: 70px;
	min-width: 100%; 
	position: relative;
	/*background-color:  #3498DB; */
	background-color: #4fa6f2;
	z-index: -50px; /*positioned at back*/

	/*To hide the horizontal scroller appearing during the animation*/
	overflow-y: scroll;
	overflow-x: hidden;
}

section{
	padding-top: 50px;
	padding-bottom: 30px;
}

.container .fullpage {
	margin-top: 150px;
	height: 100%;
	margin-bottom: 0;
	position: relative;

	width: 100%;
}

.wrap{
	padding-top: 0px;
	display: table-cell;
   vertical-align: middle;    
}


.wrap2 {
	margin-top: 100px;
	padding-top: 220px;
	padding: 2%;
}

/*spaces between texts*/
.text {
	
	padding: 30px 50px 30px 50px; 
}

 /*clearfix hack*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*====fonts====*/

section h1
{
	display: table;
  margin: auto;
	border-bottom:1px solid;
	padding-bottom:1px;
	padding-left:20px;
	padding-right:20px; 
	
}

section h4 {
	
}

#landing a {
	margin-top: 20px; 
	color: white;
	display: block;
  margin: auto;
	border:2px solid;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px; 
}

#landing h1 {
	padding-bottom:5px;
}

#landing h2 {
	padding-top: 5px;
}


@font-face {
      font-family: 'icomoon';
      src:url('../font/fonts/icomoon.eot');
      src:url('../font/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
          url('../font/fonts/icomoon.woff') format('woff'),
          url('../font/fonts/icomoon.ttf') format('truetype'),
          url('../font/fonts/icomoon.svg#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
    }


	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-mobile:before {
		content: "\e600";
	}
	.icon-mail:before {
		content: "\e601";
	}
	.icon-facebook:before {
		content: "\e602";
	}
	.icon-github:before {
		content: "\e603";
	}
	.icon-html5:before {
		content: "\e604";
	}
	.icon-css3:before {
		content: "\e605";
	}
	.icon-arrow-down:before {
		content: "\e606";
	}


h1{

	font-family: 'Oswald' , helvetica;
	font-size: 2.7em;	
	color: #fff;
	text-transform: uppercase;
	letter-spacing:3px;
	
}

/*
#work h1 {
	color:#444;
} */

h2, h4{
	font-family: 'Abel', sans-serif;
	font-size:1.6em;
	color: #444;
	text-transform: uppercase;
	letter-spacing:2px
}


p{
	font-size: 1.2em;
}

.grid-wrap h3{
	font-size: 0.8em;
	color:#444;
	text-transform: uppercase;
}

/*Light box slideshow fontsize*/
.slideshow h3 {
	font-size: 1em;
}


.slideshow p {
	font-size: 0.9em;
}

/*icomoon*/

.icons {
	font-size: 3.5em;
}

.icons2{
	margin-top: 10px;
	font-size: 2.5em;
}


/*header*/

.header {
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	right:0;
	z-index: 100;
	background-color: #fff;
}

.navlogo {
	position: relative;
	z-index: 101;
	display: inline-block;
	width: 45px;
}

.small {
	position: fixed;
	top:7px;
	left: 4px;
	z-index: 200;
}

ul.menu {
		font-family: 'Abel', sans-serif;
		position: fixed;
		top:0;
		left:0;
		right:0;
    list-style:none;
    margin:0; 
    margin-bottom: 0px;
    text-align:right;
    z-index: 100;
    background-color: rgba(255,255,255,1);

}

ul.menu .rightmenu {
	display: inline;
	padding-top: 27px;
	
}

ul.menu li a:link {
	display:inline-block;
	padding-top: 30px;
	padding-bottom:25px;
  padding-left:8px;
  padding-right:6px;
  font-family: 'Abel', sans-serif;
  letter-spacing:1px;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}


ul.menu a:link {
	color:grey;
}

ul.menu .rightmenu:hover a{
	background-color: lightblue;
	color:#fff;

}




ul.menu .rightmenu a:focus{
	background-color: lightblue;
	color:#fff;
	}



/*contents divs*/
.contents {
 margin-bottom: 80px;

}


.headerspace {
	background-color: white;
	width: 100%;
	height:91px;
}

.contents h1, .contents h3 {
	text-align: center;
}


#landing {
	margin-top: 100px;
}


#landing {
	width: 100%;
	height:100vh;
	position:relative;
	background: rgba(0,0,0,0);
	margin: 0 auto;
	display: table;
}

#about {
	height:100%;
}

#work {
	padding-top: 130px;
	position: relative;
	background-color: rgba(255,255,255,0);
}

#contact {
	min-width:100%;
	min-height: 100vh;
	position: relative;
	
}

/*contents divs ends*/

#landing p, .content p{
	text-align: center;
}

.content p {
	margin: 30px auto;
}

.section{
	text-align:center;
}

/*work section*/



.tbr{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px;
	position: relative;
}

.t-border figcaption {
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 120;
}

.tbr:hover figcaption{
	display: visible;
}

#jsicon {
	width: 57px;
}

.iconbox {
	margin-top: 40px;
}


img.landscape {
	width: 100%;
	position:fixed;
	bottom: 0;
	left:0;
	z-index: -10;

}

img.bgg-small {
	width: 100%;
	position:fixed;
	bottom: 0;
	left:0;
	z-index: -10;
clip:rect(0px,800px,180px,0px);

}

.landscape-bg {

}

img.sun {
	position: absolute;
	top:300px;
	left: 300px;
}

/*.grid li {
	border: 5px solid white;
	box-shadow: 2px 2px 0.8;
}*/



/*centering vertically and horizontally*/



/* Backgrounds will cover all the section
* --------------------------------------- */

#section0,
	#section1,
	#section2{
		background-size: cover;
		position: relative;

	}

/*#section0{
		/*background-image: url(imgs/02.jpg);
		
	}
	#section2{
		background-image: url(imgs/bg3.jpg);
		
	}*/

	#section3{
		width: 100%;
		height: 50%;
		position: relative;
		z-index: 0;
		background-color: white;
	}
		

/* Clouds animation
* --------------------------------------- */

#clouds {
	position: fixed;
	padding: 80px 0;
	z-index: -5;

}


.cloud {
	background-image: url(../imgs/cloud.png);
	width: 400px;
	height: 200px;
	background-repeat: no-repeat;
	display: block;
}




.x1 {
	position: relative;
}

.x2 {
	position: relative;
}

.x3 {
	position: relative;
}

.x4 {
	position: relative;
}

.x1 {
	left: 250px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: moveclouds 58s linear infinite;
	-moz-animation: moveclouds 58s linear infinite;
	-o-animation: moveclouds 58s linear infinite;
	opacity: 0.65; /*opacity proportional to the size*/
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	
	left: -250px; top: -50px;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	opacity: 0.5; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 75s linear infinite;
	-moz-animation: moveclouds 75s linear infinite;
	-o-animation: moveclouds 75s linear infinite;

}

.x3 {
	left: -250px; top: -30px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.55; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 100s linear infinite;
	-moz-animation: moveclouds 100s linear infinite;
	-o-animation: moveclouds 100s linear infinite;
}

.x4 {
	left: 470px; top: -650px;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 65s linear infinite;
	-moz-animation: moveclouds 65s linear infinite;
	-o-animation: moveclouds 65s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1800px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1800px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1800px;}
	100% {margin-left: -1000px;}
}



/*font color overwrite section3*/

#section3 h1 {
	color:#333;
}


/* Fixed header and footer.
	* --------------------------------------- */
	/*#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background:rgba(255,255,255,1);
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}*/
	
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

#menu{
	top: 0;
	position: fixed;
	position: relative;
}


#owl-example div{
    width: 100%;
    height: auto; }

.slicknav_menu {
    display:block;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}


/*@media (scroll-top: 91px) {
.sticky {
position: fixed;
background-color: white;
height:91px;
z-index: 100;
}
}*/



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





@media screen and (max-width: 40em) {
	
	.cloud {
		transform:scale(0.3,0.3)
	}
	

	@-webkit-keyframes moveclouds {
		0% {margin-left: 400px;}
		100% {margin-left: -800px;}
	}
	@-moz-keyframes moveclouds {
		0% {margin-left: 400px;}
		100% {margin-left: -800px;}
	}
	@-o-keyframes moveclouds {
		0% {margin-left: 400px;}
		100% {margin-left: -800px;}
	}


	.wrap2 {
		margin-top: 45px;
	}

	.text {
	
	padding: 25px 10px 25px 10px; 
}


	/*font*/


	h1{
		font-size:1.8em ;
	}

	h2,h4 {
		font-size:1em ;
	}

	p{
		font-size:1.1em;
	}
	

	.slideshow h3 {
		font-size: 1.3em;
	}

	.slideshow p {
		font-size: 0.8em;
	}


	.js #menu {
			display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
	

	#work {
	padding-top: 80px;
}



}